<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Plantas</h2>
   </div>
  
  <div class="table-responsive">
  
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">COD</th>
              <th scope="col">NOMBRE</th>
              <th scope="col">Nombre Cientifico</th>
              <th scope="col">CLASE</th>
              <th scope="col">FAMILIA</th>
              <th scope="col">ESPECIE</th>
              <th scope="col">DESCRIPCION</th>
              <th scope="col">FECHA</th>
              </tr>
    </thead>
    <tbody>
      <tr>
        <tr *ngFor="let plantas of Plantas">
          <th scope="row">{{plantas.COD_PLANTA}}</th>
            <td>{{plantas.NOM_PLANTA}}</td>
            <td>{{plantas.NOM_CIENTIFICO}}</td>
            <td>{{plantas.CLASE}}</td>
            <td>{{plantas.FAMILIA}}</td>
            <td>{{plantas.ESPECIE}}</td>
            <td>{{plantas.DES_PLANTA}}</td>
            <td>{{plantas.FEC_REGISTRO}}</td>
            <td class="text-center">
      </tr>
    
    </tbody>
  </table>